@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-icons-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ba2c4;
}

.header-icons-container .icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.header-icons-container .icons span {
    color: white;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(37, 37, 37, 1);
    padding: 10px 0;
}

.nav-logo-container img {
    width: 220px;
}

.titulo-principal {
    font-size: 2.5em; 
    color: white;     
    text-align: center; 
    margin: 0;         
}

.profile-link {
    margin-top: 10px;
}

.profile-link a {
    color: white;
    border-bottom: 1px solid white;
}

.home-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url('../assets/img-pagina/portada.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    text-align: center;
}

.home-main-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
}

.home-main-button {
    width: 200px;
    height: 50px;
    background: #3ba2c4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.home-main-button a {
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.color-link {
    color: #3ba2c4;
}
